body {
background-color: red;

}

.nav {
  background: #red;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 120px; 
}
.nav::before,
.nav::after {
  content: "";
  display: table;
}
.nav::after {
  clear: both;
}

.nav > li {
  background: #999;
  display: inline;
  float: left;
}

.nav > li > a {
  color: #fff;
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}
.nav > li:nth-child(even) > a {
  background: #777;
}

.nav > li:hover > a {
  background: #444;
}



#container{
width: 960px;
margin: 0px auto;
}
#left-column{
width: 700px;
float: left;
background:blue;
}
#right-column{
width:260px;
float:left;
background: orange;
}
@media screen and (max-width:959px) {
	#container{
width: 100%;
}
#left-column{
width:70%;
}
#right-column{
width: 30%;
	}
} 